
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');








a {color: aliceblue;text-decoration: none;}



:root{
    --bg-body: #131416;
    --color-font: #ffff;
    --color-button: #fffc089e;
    --color-card: #000000;
}

.container2{
    max-width: 830px;
    margin: auto;
    margin-top: 200px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #080808;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.logo h2{
    color: var(--color-font);
}

.logo img{
    width: 59px;
    height: 57px;
    margin-right: 4px;
}

.section-1{
    display: flex;
    margin-top: 10px;
}

.action-title h2{text-align: justify;font-size: 21px;color: var(--color-font);}


.ebook img{
    width: 234px;
    height: auto;
    margin-right: 42px;
}

.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 190px;
}

.section-2 h2{
    color: var(--color-font);
    text-transform: uppercase;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000000bf;
    height: 146px;
    border-radius: 28px;
    color: #00000080;
    text-align: center;
    text-decoration: none;
    width: 30%;
}

.card img{
    width: 65px;
    height: 65px;
}

.section-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

.button-2{
    display: inline-block;
    background-color: #1E212C;
    color: var(--color-font);
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
}

.section-3 h2{
    font-size: 48px;
    color: #0772EB;
}

.section-3 p{
    color: var(--color-font);
    margin-top: -25px;
}



@media (max-width: 420px){
    .section-1{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    .ebook img{
        margin-right: 0px
    }

    .action-title{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }



    .action-title h2{
        font-size: 40px;
        text-align: center;
        font-size: 30px;
        color: var(--color-font);
    }

    .button{
        margin-top: 20px;
    }

    .cards{
        display: flex;
        flex-direction: column;
    }

    .card{
        margin-top: 40px;
    }

    .section-3 h2{
        text-align: center;
        font-size: 30px;
    }

    .section-3 p{
        font-size: 14px;
    }

    
}
body {
    background: linear-gradient(-45deg, #0c0c0c, #020a38, #182414, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

h2{
    text-align: justify;
    color: rgb(226, 211, 211);


}

h3{
    text-align: justify;
    color: #77DFEF;
    text-align: center;
    

}


p{
 text-align: justify;
 color: rgb(245, 240, 240);
 font-size: 25px;
 font-family:
 Arial, Helvetica, sans-serif
}